.footer {
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color:  #708C98;
  color: #fff;
}

.footer a {
     color: #fff;
     font-size: larger;
}
