.footer {
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color:  #DAD0BC;
  color: black;
}

.footer a {
     color: black;
     font-size: larger;
}
