
.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: white;
  padding: 0 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 10;
  width: 100%;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.top-bar.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
}

.top-bar .logo {
  color: #FFF;
  font-family: jsMath-cmr10;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.top-bar nav a {
  color: #FFF;

font-family: jsMath-cmr10;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.top-bar nav {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-items: center;
}
.top-bar nav a:hover {
  transform: translateY(-3px) scale(1.05);
}


/* responsivt design: */
@media (max-width: 768px) {
  .top-bar {
    padding: 2px 24px;
  }

  .top-bar nav{
    display: none;
  }
}
