
.top-bar {
  
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: white;
  padding: 0 24px;
  z-index: 10;
  width: 100%;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.top-bar.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
}

.top-bar .logo {
  
  font-size: 1.5rem;
  font-weight: bold;
}

.top-bar nav a {
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.top-bar nav {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
  justify-items: center;
}
.top-bar nav a:hover {
  transform: translateY(-3px) scale(1.05);
}


/* responsivt design: */
@media (max-width: 768px) {
  .top-bar {
    padding: 2px 24px;
  }

  .top-bar nav{
    display: none;
  }
}
