.join-us {
  padding: 20px 20px;
  text-align: center;
  background: white;
}

.join-us form {
  margin-top: 20px;
}

.join-us input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


