
:root {
 
  font-family: 'Cinzel', serif;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  --bg-main: #4c463c;
  --bg-second-main: #504a3d;     
  --bg-soft: #eef6f3;     
  --text-dark: #1f2933;
  --accent: #708C98;       /* knapp */
  --accent-hover: #3B7994;  /* knapp :hover*/

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-primary {
  background-color: var(--accent);
  align-self: center;
  justify-self: center;
  border-radius: 8px;
  padding: 8px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: black;
  margin-left: 5px;
  color: #FFF;
  font-family: jsMath-cmr10;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button-primary:hover {
    background-color: var(--accent-hover);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
    transform: translateY(-3px) scale(1.05);

}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-bottom: 2rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  min-width: 320px;
} */
   /* margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 320px;  */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color:  #364B55;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color:  #DAD0BC;
  }
} 
/* 
@media (max-width: 425px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
  }
  .button-primary {
    padding: 14px 28px;
    font-size: 1rem;
  }
} */
